.employ header{
    min-height: 5vh;
    padding-bottom: 25px;
}
.employ .navigation .nav-item .activation {
    right: 30px;
}
    /*========================intro=================*/
.employ .intro{
    margin-bottom: 20px;
}
    .employ .intro .title{
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: #171515;
    }
.employ .intro .caption{
    font-size: .9rem;
    line-height: 1.6rem;
    color: #353131;
}
/*========================require=================*/
.employ .require .heading{
    font-size: .95rem;
    line-height: 7px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff7149;
    color: #000;
   font-weight: bold;
    position: relative;
}
.employ .require .skill{
    font-size: .95rem;
    line-height: 1rem;
    margin-top:10px ;
    margin-bottom: 10px;
}
.employ .require .property{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.employ .require .property .case p{
    margin: 0;
}
.employ .require .property .case{
    font-size: .8rem;
    color:#353535 ;
    line-height: 1.9rem;
    position: relative;
    padding-right: 12px;
}
.employ .require .property .case:before{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #ff7149;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 0px;
}
.employ .sending{
    margin: 20px 0;
    font-size: 1.2rem;
}
@media  screen and (max-width: 768px) {
    .employ header {
        padding-bottom: 0px;
    }
    .employ nav{
        padding-bottom: 25px;
        padding-top: 0px;
    }

}
