.links .item{
    background: url("../../img/HiraCustomer.png");
    width: 100px;
   height:100px;

    filter: sepia(100%);
    transition: all .5s;
    border-radius: 30px;
}
.links .item:hover{
    filter: sepia(0%);
}
.links [class^="col-6"]{
display: flex;
    justify-content: center;
    align-items: center;
}
